/************** variable ***************/
// $red1:#f82f36;
$dark-red: #940101;
$gray:#4b4747;
$light-gray:rgb(212, 212, 214);
$orange:rgba(255, 111, 15, 0.932);
$red: rgba(255,0,0,1);
$color:( rgba(255, 111, 15, 0.932) 11.2%, rgba(255,0,0,1) 100.2%);